$banner_bg: transparent linear-gradient(248deg, #303F60 0%, #1A253C 100%) 0% 0% no-repeat padding-box;
$white_color: #fff;
$brand_blue: #43AFFF;
$brand_blue_bg: #43AFFF33;
$brand_border_color: #4D618E;
$content_bg: #EDF6FF;
$brand_black: #303F60;
$content_shadow: #557DA526;
$input_bg_color: #E8E8E833;
$applicant_bg_color: #A9AFBC;
$applicant_border_color: #303F6080;
$applicant_letter_bg_color: #D9EFFF;
$error_color: #FF0000;
$role_bg_color: #C6C6C6;
$pagination_bg_color: #43AFFF33;