@import "./Variables";
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.v-center-icon {
    display: flex;
    min-height: 45vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.v-center {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.not-found {
    background: $banner_bg;
    color: white;

    h3 {
        font-size: 10rem;
        font-weight: 400;
    }
 
}
.py-4rem {
    padding-top: 5em;
}
.common-btn.btn {
    background: $brand_blue;
    border: 1px solid $brand_blue;
    border-radius: 5px;
    opacity: 1;
    padding: 0.5em 1.4em;
    width: 130px;

    &:hover {
        border: 1px solid $brand_blue;
        background: $brand_blue 0% 0% no-repeat padding-box;
    }
}
h4 {
    font-size: 1.3rem;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    color: $brand_black;
}
.home-banner {
    background: $banner_bg;
    min-height: 48vh;
    font-size: 3.5rem;
    letter-spacing: 0px;
    .wlcm-title {
        line-height: 4.2rem;
        .wlcm-title-1 {
            color: $white_color;
            font-weight: 400;
        }
        .wlcm-title-2 {
            font-weight: 500;
            color: $white_color;
            span {
                color: $brand_blue;
            }
        }
    }
    .post-desc {
        color: $white_color;

        .breadcrumb {
            font-weight: 400;
            font-size: 0.8rem;
        }
        .job-post-desc {
            font-weight: 500;
            font-size: 1.2rem;
        }
    }
  
    
}
.bottom-content {
    background: $content_bg;
    min-height: 80vh; 
}
.home-content {    
    .why-us-title h4 {
        color: $brand_black;
    }
    .why-us-tile {
        margin-top: 2rem;
    }
    .why-us-tile h4 {
        color: $brand_blue;
    }
    .info-tile {
        background: $white_color 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px $content_shadow;
        border-radius: 5px;
        padding: 1.5em;
        
    }
    .banner-img-card {
      position: relative;
      z-index: 1;
      box-shadow: 0px 30px 36px $content_shadow;
      background: transparent;
      border-radius: 20px;   
      img {
        border-radius: 20px;    
        width: 100%;
        position: absolute;
        top: -55vh;
      }
    }
}
.login-content {
    .login {
        position: relative;
        .auth-modal {
            border-radius: 20px;  
            width: 100%;
            background: $white_color;
            z-index: 1;
            box-shadow: 0px 30px 36px $content_shadow;
            padding: 2em;
            top: -30vh;
            position: absolute;

            .fgt-pwd {
                font-size: 0.90rem;
                color: $brand_blue;
                cursor: pointer;
                font-weight: 400;
            }
            .new-job {
                color: $brand_black;
            }
            .fgt-pwd-desc {
                color: $brand_black;
            }
            .new-job span {
                color: $brand_blue;
                cursor: pointer;
            }
        }
    }
}
.job-content {
   
    .job {
        position: relative;
        .job-modal {
            border-radius: 5px;  
            width: 100%;
            background: $white_color;
            z-index: 1;
            box-shadow: 0px 3px 6px $content_shadow;
            padding: 1.5em;
            top: -10vh;
            // position: absolute;
            color: $brand_black;
            font-weight: 400;
            .job-title {
                font-size: 1.1rem;
                font-weight: 500;
            }
            .job-desc {
                font-size: 0.85rem;
            }
            .loc {
                font-size: 0.85rem;
                opacity: 0.8;
            }
            .loc-icon {
                color: $brand_blue;
            }
            .applicant-btn {
                background: $brand_blue_bg 0% 0% no-repeat padding-box;
                border-radius: 5px;
                color: $brand_black;
                border-color: $brand_blue_bg;
                font-size: 0.7rem;
            }
           
        }
    }
    .file-icon {
        font-size: 5rem;
        opacity: 0.5;
    }
    .applicants-title {
        color: $brand_black;
        font-size: 1.25rem;
        opacity: 0.8;
        margin-top: 1rem;
        font-weight: 400;
    }
    .post-btn {
        background: $brand_blue 0% 0% no-repeat padding-box;
        border-radius: 5px;
        border: 1px solid $brand_blue;
        font-size: 1rem;
        opacity: 1;
        margin-top: 1rem;
    }
    .applicants-job {
        color: $brand_black;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .close-icon {
        color: $brand_black;
        font-size: 1.2rem;
        text-align: right;
        cursor: pointer;
    }
    .applicant-btm-brdr {
        opacity: 0.2;
        border-bottom: 1px solid $brand_black;
    }
    .applicant-num {
        font-size: 0.9rem;
        color: $brand_black;
    }
    .applicants-content {
        // background: $applicant_bg_color;
        background: rgba(169, 175, 188, 0.2);
        height: 380px;
        border-radius: 10px;
        padding: 0.7em;
        overflow-y: auto; 
        z-index: 0;
    }
    .applicants-profile {
        background: $white_color;
        border: 1px solid $applicant_border_color;
        border-radius: 5px;
        opacity: 1;
        padding: 0.4em;
        z-index: 1;
    }
    .applicant-first-letter {
        background: $applicant_letter_bg_color;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        opacity: 1;
        color: $brand_black;
        display: flex; 
        align-items: center; 
        justify-content: center;
    }
    .applicant-name {
        color: $brand_black;
        font-weight: 500;
        font-size: 0.9rem;
        opacity: 1;
    }
    .applicant-email {
        color: $brand_black;
        font-weight: 400;
        font-size: 0.9rem;
        opacity: 0.8;
    }
    .applicant-skills {
        color: $brand_black;
        font-weight: 500;
        font-size: 0.75rem;
        opacity: 1;
    }
    .applicant-skills-desc {
        color: $brand_black;
        font-weight: 400;
        font-size: 0.9rem;
        opacity: 0.8;
    }

}
.prev-page {    
    border: 1.5px solid #A9AFBC;
    border-radius: 5px;
    margin-right: 0.5rem;
    padding: 0.05em 0.5em;
    cursor: pointer;
}
.current-page {
    background: $pagination_bg_color;
    border: 1.5px solid $pagination_bg_color;
    border-radius: 5px;
    padding: 0.05em 0.5em;
}
.next-page {
    border: 1.5px solid #A9AFBC;
    border-radius: 5px;
    margin-left: 0.5rem;
    padding: 0.05em 0.5em;
    cursor: pointer;
}
input[type=email], input[type=text], input[type=password] {
    background: $input_bg_color;
    font-size: 0.8rem;
    padding: 0.8em;
}
textarea.form-control {
    background: $input_bg_color;
    font-size: 0.8rem;
    padding: 0.8em;
}
input[type=email]:focus, input[type=text]:focus, input[type=password]:focus {
    border: 1px solid $brand_blue;
}
.form-label {
    color: $brand_black;
}

.layout-navbar {
    border-bottom: 1px solid $brand_border_color;
    opacity: 1;
    
    .app-brand {
        font-weight: bold;
        font-size: 1.5rem;
        .my-title {
            color: $white_color;
        }
    }
    span {
        color: $brand_blue;
    }
    .auth-btn {
        background: $brand_blue_bg 0% 0% no-repeat padding-box;
        border: 1px solid $brand_blue;
        border-radius: 5px;
        opacity: 1;
        text-align: center;
        color: $white_color;
        letter-spacing: 0px;
        padding: 0.5em 1.5em;
        text-decoration: none;
        font-weight: bold;
        font-size: 1rem;
    }
    .navbar-post-job {
        font-size: 1rem;
        color: $white_color;
        font-weight: 500;
        text-decoration: none;
        margin-right: 1rem;
        margin-top: 0.4rem;
        &:hover {
            border-bottom: 2px solid $brand_blue;
        }
    }
    .dropdown-toggle.nav-link {
        color: $white_color;
        font-size: 1.2rem;

        &:hover {
            color: $white_color;
        }
    }
   
    .layout-first-letter {
        background: $applicant_letter_bg_color;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        color: $brand_black;
        display: flex; 
        align-items: center; 
        justify-content: center;
        .circle-icon {
            font-size: 1rem;
            color: $brand_black;
            opacity: 0.8;
        }
       
    }
    .layout-dropdown {
        font-size: 1.5rem;
        margin-left: 1rem;
        color: $white_color;
        cursor: pointer;
    }
    .layout-dropdown-logout {
        padding: 0.7em 1.3em;
        border-radius: 5px;
        font-size: 1rem;
        background: $white_color;
        position: absolute;
        top: 60px;
        margin-left: 4rem;
        cursor: pointer;
    }
}
.invalid-feedback {
    text-align: right;
    // color: $error_color;
}
.cur-ptr {
    cursor: pointer;
}
.clr-wht.cp {
    color: $white_color;
}
.role-btn {
    width: 110px;
    background: $input_bg_color;
    color: $brand_black;
    font-size: 0.89rem;
    padding: 0.7em;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid $role_bg_color;
    opacity: 1;
    .role-icon-clr {
        color: $brand_blue;
    }
}
.role-btn-selected {
    background: $brand_blue;
    color: $white_color;
    border: 1px solid $brand_blue;
    .role-icon-clr {
        color: $white_color;
    }
}

@media only screen and (max-width: 767px) {
    .mt-1rem {
        margin-top: 1.5rem;
    }
    .why-us-tile.mt-0rem {
        margin-top: 0rem;
    }
    .mt-mbl-9rem {
        margin-top: -9rem;
    }
    .banner-img-card {
        margin-top: 40vh;
    }
    .applicants-content { 
        height: auto;
    }
    .layout-dropdown-logout {
        // padding: 0.7em 1.3em;
        // border-radius: 5px;
        // font-size: 1rem;
        // background: $white_color;
        position: relative;
        top: 90px !important;
        // margin-left: 4rem;
        // cursor: pointer;
    }
}  
@media only screen and (min-width: 1400px){
    .home-content .banner-img-card img {
        border-radius: 20px;
        width: 100%;
        position: absolute;
        top: -42vh;
    }
}

